<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="First_Iteration_Assem">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-5.2701E-06 -0.54245 0.23533"
        rpy="0 0 0" />
      <mass
        value="0.026366" />
      <inertia
        ixx="5.7974E-06"
        ixy="3.507E-21"
        ixz="-3.6116E-21"
        iyy="5.7974E-06"
        iyz="7.165E-23"
        izz="9.5048E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://First_Iteration_Assem/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://First_Iteration_Assem/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0.00083931 0.0025968 -4.8428E-13"
        rpy="0 0 0" />
      <mass
        value="0.047568" />
      <inertia
        ixx="1.9511E-05"
        ixy="8.2421E-07"
        ixz="1.3428E-17"
        iyy="1.819E-05"
        iyz="-1.0059E-18"
        izz="3.0658E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://First_Iteration_Assem/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://First_Iteration_Assem/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint01"
    type="fixed">
    <origin
      xyz="0 -0.30375 -0.54245"
      rpy="-3.1416 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="-0.014183 -0.05285 0.008657"
        rpy="0 0 0" />
      <mass
        value="0.088186" />
      <inertia
        ixx="5.0008E-05"
        ixy="-5.2062E-07"
        ixz="-8.3043E-07"
        iyy="2.7195E-05"
        iyz="1.2159E-06"
        izz="6.2887E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://First_Iteration_Assem/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://First_Iteration_Assem/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint12"
    type="revolute">
    <origin
      xyz="0.016405 -0.045802 -0.027458"
      rpy="0.72745 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="-0.014183 -0.05285 0.008657"
        rpy="0 0 0" />
      <mass
        value="0.088186" />
      <inertia
        ixx="5.0008E-05"
        ixy="-5.2062E-07"
        ixz="-8.3043E-07"
        iyy="2.7195E-05"
        iyz="1.2159E-06"
        izz="6.2887E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://First_Iteration_Assem/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://First_Iteration_Assem/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint23"
    type="revolute">
    <origin
      xyz="5E-05 -0.12426 -0.019717"
      rpy="1.6213 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="-0.014122 -0.029264 0.008661"
        rpy="0 0 0" />
      <mass
        value="0.074892" />
      <inertia
        ixx="3.3811E-05"
        ixy="-1.3448E-06"
        ixz="-8.3043E-07"
        iyy="1.9153E-05"
        iyz="1.2159E-06"
        izz="3.5543E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://First_Iteration_Assem/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://First_Iteration_Assem/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint34"
    type="revolute">
    <origin
      xyz="5E-05 -0.14974 -0.018632"
      rpy="0.79283 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>
